* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.container {
   width: 1140px;
   margin: 0 auto;
}
.top {
    height: 800px;
}
.header {
    background: #222222;
    height: 75px;
    position: relative;
}
.header_l {
    display: flex;
}
.header_r {
    display: flex;
}
.header_un {
    display: flex;
    justify-content: space-between;
}
 .header .fa-magnifying-glass:hover {
    color: #F16D7F;
    transition: 0.2;
    transform: scale(2);
}
 .header .fa-bars:hover {
    color: #F16D7F;
    transition: 0.3;
    transform: scale(2);
}
.header .fa-user:hover {
    color: #F16D7F;
    transition: 0.2;
    transform: scale(2);
}
.header .fa-solid {
    color: #fff;
    font-size: 26px;
}
.fa-cart-shopping:hover {
  color: #F16D7F;
  transition: 0.2;
  transform:  scale(2);
}
.sect-hov:hover {
    filter: brightness(60%);
}
.logo1 {
    padding: 15px 20px 16px 20px;
}
.icon {
    padding: 20px;
}
.top_info {
    background: #F1E4E6;
    height: 730px;
}
.top_info_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.man-1 {
    flex-grow: 1;
   width: 800px;
   height: 764px;
   margin-left: -200px;
}
.text {
    flex-grow: 1;
}
.top_text {
    display: inline-block;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    padding-top: 290px;
}
.top_text1 {  
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; 
    color: #222222;
    display: flex;
}
.tx-span { 
    color:#F16D7F;
    display: block;
}
.stick {
    padding-left: 12px;
    position: relative;
}
.navigation {
    width: 232px;
    background: #FFFFFF;
    overflow: hidden;
    height: 730px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
margin-top: 55px;
display: none;
right: 0px;
transition: all 1s;
}
.close {
    height: 8px;
    width: 8px;
}
.menu {
    font-size: 14px;
line-height: 17px;
color: #000000;
padding-top: 37px;
padding-left: 34px;
height: 100%;
}
.ic-menu:hover .navigation {
    display: block;
}
.link {
    font-size: 14px;
line-height: 17px;
color: #6F6E6E;
padding-top: 11px;
padding-left: 20px;
text-decoration: none;
}
.menu_li {
    display: flex;
    flex-direction: column;
    font-size: 14px;
line-height: 17px;
color: #F16D7F;
padding-top: 22px;
}
.stick::before {
    content: "";
    position: absolute;
    background: #F16D7F;
    height: 92px;
    width: 12px;
    left: -16px;
}
.center {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 65px;
}
.section {
    width: 1140px;
}
.man-2 {
    padding-left: 30px;
    padding-right: 30px;
}
.accesuar {
    padding-top: 30px;
}
.h1 {
    font-size: 30px;
line-height: 36px;
color: #222222;
text-align: center;
padding-top: 96px;
}
.p {
    font-size: 14px;
line-height: 17px;
color: #9F9F9F;
text-align: center;
padding-top: 6px;
}
.section_all {
    width: 1140px;
    margin: 0 auto;
}
.item-box {
    display: flex;
    justify-content: space-around;
    margin: 0 auto; 
    padding-top: 48px;
    width: 1140px;
    flex-wrap: wrap;
    width: 100%;
}
.caption {
    font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
padding-bottom: 16px;
padding-top: 25px;
}
.title {
    font-size: 13px;
line-height: 16px;
color: #000000;
}
.text {
    display: block;
    width: 314px;
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
padding-top: 12px;
}
.blok-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item_link {
    display: block;
    text-decoration: none;
}
.item {
    width: 360px;
    position: relative;
    margin-bottom: 30px;
    background: #F8F8F8;
   transition: all 1s;
}
.text-box {
    padding: 20px;
}
.item-pic {
    width: 100%;
}
.item:hover {
    transform:scale(2);
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.16) ;
}
.item:hover .item-pic {
    filter: brightness(30%);
}
.price {
    font-size: 16px;
line-height: 19px;
color: #F16D7F;
padding-top: 18px;
}
.cart-box {
    display: flex;
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    display: none;
}
.cart-link {
    display: flex;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    transform: rotate(-30deg);
}
.add-text {
    font-size: 14px;
line-height: 17px;
color: #FFFFFF;
margin-left: 8px;
font-family: Lato;
padding-top: 10px;
}
.item:hover .cart-box {
    display: flex;
}
.botton {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    margin-bottom: 95px;
    padding: 15px 39px;
    display: inline-block;
    box-sizing: border-box;
    transition: color 2s ease-in;
}
.botton:hover {
    color:#FFFFFF;
    background-color: #FF6A6A;
    transform: scale(2);
}
.up-botton {
    display: flex;
    justify-content: center;
}
.blok1 {
    
    background: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
}
.underblok-top {
width: 1140px;
display: flex;
 margin: 0 auto;
justify-content: space-between;
}
.underblok {
    width: 1140px;
display: flex;
margin: 0 auto;
justify-content: space-between;
}
.foot {
    text-align: center;
}
.blok2 {
    display: flex;
    justify-content: space-around;
    background-image: url(img/fon.svg);
}
.footcentr1 {
    text-align: center;
    margin-bottom: 126px;
}
.unfoot {
    display: flex;
    justify-content: space-between;
}
.text-foot {
    padding-top: 30px;
    font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
width: 359px;
}
.foot_2 {
    padding-top: 150px;
    padding-bottom: 32px;
    width: 557px;
}
.ledy {
    padding-top: 96px;
}
.email {
    background: #E1E1E1;
    font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
border-radius: 20px 0 0 20px;
color: #222224;
padding: 17px 64px 17px 22px;
opacity: 0.67;
}
.email:hover {
    filter: contrast(90%);
    transform: scale(2);
    border-radius: 20px;
}
.subscribe {
    font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
background: #F16D7F;
color: #FFFFFF;
border-radius: 0 20px 20px 0;
padding: 17px 25px 17px 25px;
}
.subscribe:hover {
    filter: brightness(90%);
}
.bott_email {
    display: flex;
    justify-content: center;
}
.font {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
}
.blok3 {
    background: #222224;
}
.copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
line-height: 19px;
color: #FBFBFB;
}
.fa-brands {
    background: #FFFFFF;
    padding: 10px;
margin-top: 20px;
margin-bottom: 20px;
font-size: 32px;
color: #000000;

}
.fa-brands:hover {
    color:#fff;
    background-color: #F16D7F;
    transform:scale(2);
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.top {
    flex-grow: 1;
}
@media (max-width: 768px) {
    .header_un {
    width: 768px;
    margin: 0 auto;
    width: 100%;
    }
    .container {
        width: 100%
    }
.header {
padding-left: 32px;
padding-right: 32px;
}
.section1 {
    flex-wrap: wrap;
    display: flex;
    max-width: 1024pxpx;
    width: 100%;
}
.section_all {
    width: 734px;
}
.text {
    width: 50%;
}
.cart-center {
    width: 232px;
}
.accesuar {
    width: 735px;
}
.sect-hov {
    width: 100%;
}
.man-1 {
    height: 368px;
    width: 386px;
    margin: 0;
    
    padding-top: 15px;
}
.top {
    height: 442px;;
}
.top_info {
    height: 368px;
}
.top_text {
    padding-top: 138px;
    font-weight: 900;
font-size: 44px;
line-height: 53px;
width: 283px;
color: #222222;
width: 100%;
}
.top_text1 {
    font-weight: 700;
font-size: 24px;
line-height: 28px;
}
.underblok {
    width: 768px;
    flex-direction: column;
}
}

/*страница каталог*/
.header-under {
    height: 148px;
background: #F8F3F4;

}
.header-tx {
    font-size: 24px;
line-height: 29px;
color: #F16D7F;
}
.pa {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
}
.path-3 {
    color: #F16D7F;
}
.path-1:hover {
    color: #F16D7F;
}
.path-2:hover {
    color: #F16D7F;
}
.pa-c-M {
    color: #F16D7F;
}
.pa-c-NA {
    color: #636363;
}

.content {
    display: flex;
justify-content: space-between;
align-items: center;
height: 148px;
}
.links-c {
    display: flex;
padding-top: 51px;
padding-bottom: 64px;
position: relative;
}
.line-3 {
  margin-left: 11px;
}
.menu_li-c {
    display: flex;
    flex-direction: column;
}
.top-r {
   justify-content: center;
    display: flex;
    width: 100%;
}
.size {
    padding-left: 38px;
    padding-right: 38px;
}
.angle {
    padding-left: 10px;
    color: #6F6E6E;
}
.ftn:hover .form{
    display: flex;
}
.ftn {
    line-height: 17px;
color: #6F6E6E;
text-decoration: none;
}
.ftn:hover {
    color: #EF5B70;
}
.prise:hover {
    color:#F7F7F7
}
.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    position: absolute;
   background-color: #fff; 
   display: none;
   overflow: hidden;
}
.chb {
  margin: 10px;

}
.menu_li-c {
    font-size: 14px;
line-height: 17px;
color: #EF5B70;
padding-bottom: 36px;
padding-left: 11px;
position: relative;
padding-top: 35px;
}
.menu_li-c:hover .link-c{
    display: block;
}
.li-c {
    padding-top: 0;
    padding-bottom: 0;
}
.menu_li-c::before {
    content: "";
    position: absolute;
    background:  #EF5B70;
    height: 37px;
    width: 5px;
    left: -1px;
  margin-top: -10px;
}
.range {
    top: 50px;
    position: absolute;
    display: none;
}
.ftn:hover .range{
    display: flex;
}
.menu-c {
    font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #EF5B70;
padding-bottom: 24px;
}
.link-c {
    font-size: 14px;
line-height: 17px;
color: #6F6E6E;
padding-bottom: 11px;
text-decoration: none;
display: none;
}
.l-c {
 padding-top: 36px;
}
.nav-c {
    width: 324px;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    position: absolute;
    padding: 18px;
display: none;
    top:0;
}
.filter {
    color:#000000;
    font-weight: 600;
font-size: 14px;
line-height: 17px;
padding-left: 20px;
}
.filter:hover .nav-c {
display: block;
}

ul.hr li {
    display: inline;
    padding: 13px;
}
ul {
    border: 1px solid #EBEBEB;
}
.hr {
    padding: 13px;
}
.all-namber {
    margin-top: 48px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
}
.namber {
    text-decoration: none;
    font-weight: 300;
font-size: 16px;
line-height: 19px;
color:#E1E1E1;

}
.namber:hover {
    color: #EF5B70;
    transform: scale(3);
}
.fa-solid {
    color: #000000;
}
.fa-angle-left:hover {
    color: #EF5B70;
}
.fa-angle-right:hover {
    color: #EF5B70;
}

/*страница продукт*/
.top_product {
    background: #F7F7F7;
}
.top_prod-center {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.fa-angleft {
    background: #FFFFFF;
    padding: 10px;
    font-size: 32px;
}
.fa-angright {
    background: #FFFFFF;
    padding: 10px;
    font-size: 32px;
}
.text-prod-center {
margin: 0 auto;
text-align: center;
width: 1140px;
background: #FFFFFF;
margin-top: -60px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
margin-bottom: 129px;
}
    .head-prod-1 {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
padding-top: 65px;
}
.short-line {
    width: 63px;
height: 3px;
background: #EF5B70;
margin: 12px;
}
.head-prod-2 {
    font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #4D4D4D;
}
.text-prod {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5E5E5E;
padding-top: 48px;
width: 555px;
display: inline-block;
}
.prise-prod {
    font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #EF5B70;
padding-top: 32px;
}
.prise:hover .prise{
z-index: -1;
}
.line-prod {
    border: 1px solid #EAEAEA;
    Width: 641px;
    text-align: center;
    display: inline-block;
    margin: 65px;
}
.form-prod {
    padding-bottom: 48px;
}
.cart-box-prod {
    display: flex;
    top: 98px;
    justify-content: center;
    width: 100%;
    color: #F26376;
    padding-bottom: 65px;
}
.cart-link-prod {
    border: 1px solid #F26376;
    align-items: center;
    text-decoration: none;
}
.cart-link-prod:hover {
    background-color: lightpink;
}
.short-line {
    text-align: center;
    display: inline-block;
}
.img-girl {
    padding-bottom: 60px;
}
.add-text-prod {
    color: #F26376;
    text-decoration: none;
    padding: 0;
}
.cr-img {
    color: #F26376;
}
.fa-solid-prod {
    color: #F26376;
}